.header {
    display: flex;
    width: 100%;
    color: #d2fc3c;
    position: fixed;
    font: 500 18px Lexend, sans-serif;
    margin-top: 40px;
    justify-content: center; 
    z-index: 10;
  }
  
  .logo {
    position: absolute;
    width: 8%;
    left: 40px; 
    top: -20px;
  }
  
  .nav {
    display: flex;
    align-items: center;
    gap: 40px 60px;
    flex-wrap: wrap;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .nav {
      max-width: 100%;
    }
  }
  
  .navLink {
    align-self: stretch;
    margin: auto 0;
    text-decoration: none;
    color: inherit;
  }
  

  @media (max-width: 768px){
    .nav{
      gap: 40px;
    }
    .header{
      font: 500 14px Lexend, sans-serif;
    }
    .logo{
      width: 13%;
      left: 0;
      top: -10px;
    }
  }